<h2 class="page-header">Product Details</h2>
<div>
  <div>
    <!--<img class="images" src="{{ image }}" />-->
    <td
      style="
        width: 200px;
        height: 200px;
        vertical-align: middle;
        text-align: center;
      "
    >
      <div class="product-grid__img-wrapper">
        <img class="images" src="{{ image }}" height="auto" width="100px" />
      </div>
    </td>
    <div>
      <div>
        <h4>{{ name }}</h4>
      </div>
      <div>
        {{ price }}
      </div>
    </div>
    <div>
      <button *ngIf="!button" (click)="onAddToCart()">Add to Cart</button>
      <button *ngIf="button" (click)="onRemoveFromCart()">
        Remove From Cart
      </button>
    </div>
  </div>
</div>
