<!-- Single product -->
<div class="product-grid__product-wrapper">
  <div class="product-grid__product">
    <div class="product-grid__img-wrapper">
      <img src="{{ product.image }}" alt="Img" class="product-grid__img" />
    </div>
    <span class="product-grid__title">{{ product.name }}</span>
    <span class="product-grid__price">{{ product.price }}</span>
    <div class="product-grid__extend-wrapper">
      <div class="product-grid__extend">
        <p class="product-grid__description">{{ product.description }}</p>
        <span
          class="product-grid__btn product-grid__add-to-cart"
          *ngIf="!button"
          (click)="onAddToCart(product)"
          ><i class="fa fa-cart-arrow-down"></i> Add to Cart</span
        >
        <span
          class="product-grid__btn product-grid__add-to-cart"
          *ngIf="button"
          (click)="onRemoveFromCart(product)"
          ><i class="fa fa-cart-arrow-down"></i> Remove From Cart</span
        >
        <span
          class="product-grid__btn product-grid__view"
          routerLink="/view/{{ product._id }}"
          ><i class="fa fa-eye"></i> View more</span
        >
      </div>
    </div>
  </div>
</div>
<!-- end Single product -->
