<div class="jumbotron text-center">
  <h1>FlyBuy Store</h1>
  <p class="lead">
    Welcome to our store. Have it your way
  </p>
  <h1></h1>
  <p>In Stock:</p>
  <!-- <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div> -->
</div>

<div>
  <form>
    <input type="radio" name="sort" (click)="priceAscending()" />Price
    Ascending<br />
    <input type="radio" name="sort" (click)="priceDescending()" />Price
    Descending<br />
    <input type="radio" name="sort" (click)="nameAscending()" />Name
    Ascending<br />
    <input type="radio" name="sort" (click)="nameDescending()" />Name
    Descending<br />
  </form>
</div>

<section>
  <product-item
    *ngFor="let product of products"
    [product]="product"
  ></product-item>
</section>
