<div class="content">
  <div>
    <form>
      <input type="radio" name="sort" (click)="priceAscending()" />Price
      Ascending<br />
      <input type="radio" name="sort" (click)="priceDescending()" />Price
      Descending<br />
      <input type="radio" name="sort" (click)="nameAscending()" />Name
      Ascending<br />
      <input type="radio" name="sort" (click)="nameDescending()" />Name
      Descending<br />
    </form>
  </div>
  <!-- content here -->
  <ul class="list-group">
    <product-listing
      *ngFor="let product of products"
      [product]="product"
      (delete)="onDelete($event)"
    ></product-listing>
  </ul>
</div>
